# This file is part of Velvet-Grid
#
# Made by : Matthias Lapu (CEA)

# COMPUTE NODE TEMPLATE
x-compute-node: &compute
  image : slurm-docker-cluster
  command: slurmd
  mem_limit: 1g
  privileged: true
  volumes:
    - etc_munge:/etc/munge
    - var_log_slurm:/var/log/slurm
    - /run/dbus/system_bus_socket:/host/run/dbus/system_bus_socket # fix dbus
  expose:
    - "6818"
  depends_on:
    - "slurmctld"
  networks:
    - slurm-network
  environment: # fix dbus
    - DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket

################################################################################
################################################################################
### SERVICES
################################################################################
################################################################################

services:
  mysql:
    image: mariadb
    hostname: mysql
    container_name: mysql
    privileged: true
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: slurm_acct_db
      MYSQL_USER: slurm
      MYSQL_PASSWORD: password
    volumes:
      - var_lib_mysql:/var/lib/mysql
    networks:
      - slurm-network

  # Contains the slurm database
  slurmdbd:
    image: slurm-docker-cluster
    command: slurmdbd
    build:
      context: .
    container_name: slurmdbd
    hostname: slurmdbd
    privileged: true
    volumes:
      - etc_munge:/etc/munge
      - var_log_slurm:/var/log/slurm
      - var_spool_slurm:/var/spool/slurmctld
    expose:
      - "6819"
    depends_on:
      - mysql
    networks:
      - slurm-network

  slurmctld:
    image: slurm-docker-cluster
    command: slurmctld
    container_name: slurmctld
    hostname: slurmctld
    privileged: true
    volumes:
      - etc_munge:/etc/munge
      - var_log_slurm:/var/log/slurm
    expose:
      - "6817"
    depends_on:
      - "slurmdbd"
    networks:
      - slurm-network


  prometheus:
    image: prom/prometheus
    hostname : prometheus
    container_name: prometheus
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
    ports:
      - 9090:9090
    networks:
      - slurm-network

  prometheus-kafka-adapter:
    image: telefonica/prometheus-kafka-adapter:1.9.1
    hostname: prometheus-kafka-adapter
    container_name: prometheus-kafka-adapter
    networks:
      - slurm-network
    environment:
      KAFKA_BROKER_LIST: broker:29092

  broker:
    image: apache/kafka:latest
    hostname: broker
    container_name: broker
    ports:
      - 9092:9092
    networks:
      - slurm-network
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,CONTROLLER://0.0.0.0:29093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk

  opensearch-node1:
    image: opensearchproject/opensearch:3
    container_name: opensearch-node1
    hostname: opensearch-node1
    environment:
      discovery.type: single-node
      node.name: opensearch-node1
      bootstrap.memory_lock: true
      OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: SecureP@ssword1
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - 9200:9200
      - 9600:9600
    networks:
      - slurm-network

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:3
    container_name: opensearch-dashboards
    hostname: opensearch-dashboards
    volumes:
      - ./opensearch_dashboards.yaml:/usr/share/opensearch-dashboards/config/opensearch_dashboards.yml
    ports:
      - 5601:5601
    networks:
      - slurm-network
    depends_on:
      - opensearch-node1


  opensearch-dataprepper:
    image: opensearchproject/data-prepper:latest
    container_name: opensearch-dataprepper
    hostname: opensearch-dataprepper
    depends_on:
      - opensearch-node1
      - broker
    networks:
      - slurm-network
    volumes:
      - ./dataprepper/pipelines:/usr/share/data-prepper/pipelines:ro
      - ./dataprepper/data-prepper-config.yaml:/usr/share/data-prepper/config/data-prepper-config.yaml:ro
    ports:
      - 4900:4900

  ############################################################################
  ############################################################################
  ##### COMPUTE NODE
  ##### c1 & c2 & c3 are the compute node, nothings happens there
  ##### except running the jobs set using the /scripts/launch_job.sh
  ############################################################################
  ############################################################################
  c1:
    << : *compute
    hostname: c1
    container_name: c1
    cpuset : "1"

  c2:
    << : *compute
    hostname: c2
    container_name: c2
    cpuset : "2"

  c3:
    << : *compute
    hostname: c3
    container_name: c3
    cpuset : "3"

volumes:
  etc_munge:
  slurm_jobdir:
  var_lib_mysql:
  var_log_slurm:
  var_run_slurm:
  var_spool_slurm:
  opensearch-data:
networks:
  slurm-network:
    driver: bridge
